<h2 style = "color: #4CAF50; font: Trebuchet MS; text-align: left">Docente:</h2>
<table id="tablaCustom">
  <tr>
    <th>DNI</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>FechaDeNacimiento</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Legajo</th>
    <th>Cuil</th>
  </tr>
  <tr>
    <td>{{docente.Dni}}</td>
    <td>{{docente.Nombre}}</td>
    <td>{{docente.Apellido}}</td>
    <td>{{docente.FechaDeNacimiento | date:'yyyy-MM-dd'}}</td>
    <td>{{docente.Direccion}}</td>
    <td>{{docente.Telefono}}</td>
    <td>{{docente.Email}}</td>
    <td>{{docente.Legajo}}</td>
    <td>{{docente.Cuil}}</td>
  </tr>
</table>