/* You can add global styles to this file, and also import other style files */
#tablaCustom {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
}

#tablaCustom td, #tablaCustom th {
    border: 1px solid #ddd;
    padding: 8px;
    width: auto;
}

#tablaCustom tr:nth-child(even){background-color: #f2f2f2;}

#tablaCustom tr:hover {background-color: #ddd;}

#tablaCustom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(10, 108, 133);
    color: white;
}