<h2 style = "color: rgb(20, 171, 209); font: Trebuchet MS;">Alumno:</h2>
<table id = "tablaCustom">
  <tr>
    <th>DNI</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>FechaDeNacimiento</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Legajo</th>
  </tr>
  <tr>
    <td>{{alumno.Dni}}</td>
    <td>{{alumno.Nombre}}</td>
    <td>{{alumno.Apellido}}</td>
    <td>{{alumno.FechaDeNacimiento | date:'yyyy-MM-dd'}}</td>
    <td>{{alumno.Direccion}}</td>
    <td>{{alumno.Telefono}}</td>
    <td><a href="mailto:{{alumno.Email}}" target="_top">{{alumno.Email}}</a></td>
    <td>{{alumno.Legajo}}</td>
  </tr>
</table>